#如何使用colab?
1. 註冊google帳號
2. 進入 https://colab.research.google.com/
3. 選取右下角的 [new notebook]

## colab內含兩種物件
1. text 部分: 你可以當正常文件打,像是word或是text。或者是你可以使用所謂的markdown語法,甚至是latex語法
2. python code部分: 你可以輸入python code，還可以執行運算結果。p.s.注意每一塊code的運算順序

### 資源
1. [colab使用說明](https://colab.research.google.com/notebooks/welcome.ipynb?hl=zh-TW)
2. [markdown語法](https://markdown.tw/)

## 繳交作業說明
+ 選取右上的 [檔案]，然後是 [下載 .ipynb]，接下來將檔案上傳到 [單登](https://sso.nknu.edu.tw/)

--------------------------------------
#PYTHON範例

1. 看看自己的python是用哪個版本的

In [ ]:
!python --version

Python 3.6.9

最簡單的例子!
輸出到螢幕

In [ ]:
print("hello world")

hello world

In [ ]:
str1="Hello" + "World"
str2="Python"
print(str1)
print("str1")
print(str1+str2)
print(str1*3+str2)

HelloWorld
str1
HelloWorldPython
HelloWorldHelloWorldHelloWorldPython

數學的基本運算符號如下，記得運算規則是 [先乘除後加減]

 運算 |  功能 | 例子
------|------|---------
 + | 加 |  2+3=5
 - | 減 | 5-8 =-3
 * | 乘 | 3*5=15
 / | 除 | 7/2=3.5
  // | 除法後取不大於結果的最大整數| 3//2=1 
 % | 模數(mode)(取餘數) | 11%3=2
 **| 指數（次方） | 3**4=81

In [ ]:
2+3

5

In [ ]:
9%6
2+3

5

In [ ]:
print(9%6)
print(2+3)

3
5

# IF

**注意排版**

### 1. if

如果 **條件** 對，則執行 **指令**

if (條件):
>指令

In [ ]:
x=10
if (x>20):
  print("x >20")

### 2. else

如果 **條件1** 對，則執行 **指令1**。不然就執行 **指令2**

if (條件):
>指令1

else:
>指令2

In [ ]:
x=35;
if (x < 10):
  print("x was < 10")
else:
  print("x was >= 10")

x was >= 10

### 3. elif

如果 **條件1** 對，則執行 **指令1**。再來，如果**條件2**對，就執行 **指令2**。不然，就執行 **指令3**

if (條件1):
>指令1

elif (條件2):
>指令2

else:
>指令3

In [ ]:
x=35;
if (x < 10):
  print("Hello World, x was < 10")
elif (x < 20):
  print("Hello World, x was >= 10 but < 20")
elif (x < 30):
  print("Hello World, x was >= 20 but < 30")
else:
  print("Hello World, x was >= 30")

Hello World, x was >= 30

# 字串

In [ ]:
x=[0,1]
x

[0, 1]

# For 迴圈

**一樣要注意排版**

In [ ]:
print("Iterate over an actual list.")
for i in [0,1,2,3,4]:
  print(i)

Iterate over an actual list.
0
1
2
3
4

In [ ]:
print("Iterate over an actual list.")
for i in [0,1,2,3,4]:
  print(i)
print(i)

Iterate over an actual list.
0
1
2
3
4
4

In [ ]:
print("Iterate over an actual list.")
for i in [0,1,2,3,4]:
  print(i)
  print(i)

Iterate over an actual list.
0
0
1
1
2
2
3
3
4
4

In [ ]:
print("Sum 0 to 4")
k=0
for i in [0,1,2,3,4]:
  k=k+i
  print(k)

Sumation
0
1
3
6
10

In [ ]:
print("Sum 0 to 4")
k=0
for i in [0,1,2,3,4]:
  k=k+i
print(k)

Sumation
10

### range 的用法

1. range(n+1): [0, 1, 2, ... , n]
2. range(a,b,k) : [a, a+k, a+2k, a+3k, ... (直到**不超過**b的最大數)]

In [ ]:
for i in range(4):
  print(i)

0
1
2
3

In [ ]:
k=0
for i in range(11):
  k=k+i
print(k)

55

In [ ]:
for i in range(1,9,2):
  print(i)

1
3
5
7

In [ ]:
for i in range(1,15,3):
  print(i)

1
4
7
10
13

# 定義函數

**還是要記得排版!!** python的排版很重要

In [ ]:
def HelloWorldXY(x, y):
  if (x < 10):
    print("Hello World, x was < 10")
  elif (x < 20):
    print("Hello World, x was >= 10 but < 20")
  else:
    print("Hello World, x was >= 20")
  return x + y

In [ ]:
print(HelloWorldXY(1,2))

Hello World, x was < 10
3

In [ ]:
def func1(x):
  return x**2+4
func(4)

19

In [ ]:
func1(5)

29